In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Netflix_project/dataset/merged_data.csv')
data

,title,release_year,category,duration,country,type,rating,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm)
0,Dick Johnson Is Dead,2020,Documentaries,90 min,United States,Movie,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
1,Europe's Most Dangerous Man: Otto Skorzeny in ...,2020,"Documentaries, International Movies",67 min,Not Given,Movie,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
2,Tayo and Little Wizards,2020,Kids' TV,1 Season,Pakistan,TV Show,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
3,Bread Barbershop,2020,"Kids' TV, TV Comedies",2 Seasons,Pakistan,TV Show,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
4,The Smart Money Woman,2020,"International TV Shows, Romantic TV Shows, TV ...",1 Season,South Africa,TV Show,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24532,Inventing Anna,2022,Drama,75 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24533,Inventing Anna,2022,Drama,60 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24534,Inventing Anna,2022,Drama,73 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24535,Inventing Anna,2022,Drama,83 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24536,Winning Time: The Rise of the Lakers Dynasty,2022,"Biography, Drama, Sport",59 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70

In [3]:
#Checking for NaN values
data.isna().sum()

title                    0
release_year             0
category                 0
duration                 0
country                  0
type                     0
rating                   0
Year                     0
Content spend ($bn)      0
Revenue ($bn)            0
Gross Profit ($bn)       0
Net Income ($bn)         0
Paid Subscribers (mm)    0
dtype: int64

In [4]:
data.dtypes

title                     object
release_year               int64
category                  object
duration                  object
country                   object
type                      object
rating                    object
Year                       int64
Content spend ($bn)      float64
Revenue ($bn)            float64
Gross Profit ($bn)       float64
Net Income ($bn)         float64
Paid Subscribers (mm)    float64
dtype: object

In [5]:
data['type'].value_counts()

Movie      11537
Unknown     6853
TV Show     6147
Name: type, dtype: int64

In [6]:
data['type']=data['type'].fillna('Unknown')

In [7]:
data.isna().sum()

title                    0
release_year             0
category                 0
duration                 0
country                  0
type                     0
rating                   0
Year                     0
Content spend ($bn)      0
Revenue ($bn)            0
Gross Profit ($bn)       0
Net Income ($bn)         0
Paid Subscribers (mm)    0
dtype: int64

In [8]:
data['type'].value_counts()

Movie      11537
Unknown     6853
TV Show     6147
Name: type, dtype: int64

In [9]:
data

,title,release_year,category,duration,country,type,rating,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm)
0,Dick Johnson Is Dead,2020,Documentaries,90 min,United States,Movie,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
1,Europe's Most Dangerous Man: Otto Skorzeny in ...,2020,"Documentaries, International Movies",67 min,Not Given,Movie,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
2,Tayo and Little Wizards,2020,Kids' TV,1 Season,Pakistan,TV Show,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
3,Bread Barbershop,2020,"Kids' TV, TV Comedies",2 Seasons,Pakistan,TV Show,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
4,The Smart Money Woman,2020,"International TV Shows, Romantic TV Shows, TV ...",1 Season,South Africa,TV Show,TV-MA,2020,11.8,24.9,9.7,2.7,203.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24532,Inventing Anna,2022,Drama,75 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24533,Inventing Anna,2022,Drama,60 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24534,Inventing Anna,2022,Drama,73 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24535,Inventing Anna,2022,Drama,83 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70
24536,Winning Time: The Rise of the Lakers Dynasty,2022,"Biography, Drama, Sport",59 min,Not Given,Unknown,TV-MA,2022,16.8,31.6,12.5,4.5,230.70

In [10]:
grouped_data = data.groupby('release_year').size().reset_index(name='Count')
grouped_data

   release_year  Count
0          2013   1053
1          2014   1301
2          2015   2025
3          2016   3190
4          2017   3738
5          2018   4214
6          2019   3861
7          2020   2863
8          2021   1505
9          2022    787

In [11]:
grouped_data2 = data.groupby('release_year').mean()
grouped_data2

C:\Users\ninav\AppData\Local\Temp\ipykernel_9916\753355547.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data2 = data.groupby('release_year').mean()

,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm)
release_year,,,,,,
2013,2013.0,0.00,4.4,1.3,0.11,41.43
2014,2014.0,0.00,5.5,1.8,0.27,54.47
2015,2015.0,0.00,6.8,2.2,0.12,70.83
2016,2016.0,6.88,8.8,2.6,0.19,89.90
2017,2017.0,8.91,11.6,3.7,0.56,110.64
2018,2018.0,12.00,15.7,5.8,1.20,139.25
2019,2019.0,13.90,20.1,7.7,1.90,167.09
2020,2020.0,11.80,24.9,9.7,2.70,203.66
2021,2021.0,17.70,29.6,12.4,5.10,219.70
2022,2022.0,16.80,31.6,12.5,4.50,230.70

In [12]:
merged_data = pd.merge(grouped_data, grouped_data2, left_on='release_year', right_on='release_year')
merged_data

,release_year,Count,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm)
0,2013,1053,2013.0,0.00,4.4,1.3,0.11,41.43
1,2014,1301,2014.0,0.00,5.5,1.8,0.27,54.47
2,2015,2025,2015.0,0.00,6.8,2.2,0.12,70.83
3,2016,3190,2016.0,6.88,8.8,2.6,0.19,89.90
4,2017,3738,2017.0,8.91,11.6,3.7,0.56,110.64
5,2018,4214,2018.0,12.00,15.7,5.8,1.20,139.25
6,2019,3861,2019.0,13.90,20.1,7.7,1.90,167.09
7,2020,2863,2020.0,11.80,24.9,9.7,2.70,203.66
8,2021,1505,2021.0,17.70,29.6,12.4,5.10,219.70
9,2022,787,2022.0,16.80,31.6,12.5,4.50,230.70

In [13]:
merged_data['Content spend rate'] = (merged_data['Content spend ($bn)']/merged_data['Count'])*1000000000

In [14]:
merged_data

,release_year,Count,Year,Content spend ($bn),Revenue ($bn),Gross Profit ($bn),Net Income ($bn),Paid Subscribers (mm),Content spend rate
0,2013,1053,2013.0,0.00,4.4,1.3,0.11,41.43,0.000000e+00
1,2014,1301,2014.0,0.00,5.5,1.8,0.27,54.47,0.000000e+00
2,2015,2025,2015.0,0.00,6.8,2.2,0.12,70.83,0.000000e+00
3,2016,3190,2016.0,6.88,8.8,2.6,0.19,89.90,2.156740e+06
4,2017,3738,2017.0,8.91,11.6,3.7,0.56,110.64,2.383628e+06
5,2018,4214,2018.0,12.00,15.7,5.8,1.20,139.25,2.847651e+06
6,2019,3861,2019.0,13.90,20.1,7.7,1.90,167.09,3.600104e+06
7,2020,2863,2020.0,11.80,24.9,9.7,2.70,203.66,4.121551e+06
8,2021,1505,2021.0,17.70,29.6,12.4,5.10,219.70,1.176080e+07
9,2022,787,2022.0,16.80,31.6,12.5,4.50,230.70,2.134689e+07

In [15]:
last_6_years_spend = merged_data.iloc[3:9]['Content spend rate']
last_6_years_spend

3    2.156740e+06
4    2.383628e+06
5    2.847651e+06
6    3.600104e+06
7    4.121551e+06
8    1.176080e+07
Name: Content spend rate, dtype: float64

In [16]:
# H0: The content spend in 2022 will be less than the previous 6 years <= 4478411.645259134
# H1: The alternative hypothesis is the content spend in 2022 will be higher than the 6 previous years > 4478411.645259134

In [17]:
from scipy import stats
from scipy.stats import ttest_1samp
import scipy.stats as st

In [19]:
stat, pvalue = stats.ttest_1samp(last_6_years_spend, 2.134689e+07)
print('Stat_Score =  ',stat)
print('Pvalue =  ',pvalue/2)

Stat_Score =   -11.341017184418352
Pvalue =   4.6612228117210024e-05

In [20]:
#Pvalue is really low, so we reject the equality part of our H0, and our stat_score is positive so it is higher than 0.05 so we can reject H0